/* #sidebar { */
/*     text-align: center; */
/*     text-style: bold; */
/*     width: 15%; */
/*     height: 100%; */
/* } */
/**/
/* .menu-button { */
/*     text-align: center; */
/*     width: 20%; */
/* } */

#dialog{
    grid-size: 2;
    grid-gutter: 1 2;
    grid-rows: 1fr 3;
    padding: 0 1;
    width: 60;
    height: 11;
    border: thick $background 80%;
    background: $surface;
}
